#videoIntro {
  margin: auto;
  width: 648px;
  height: 368px;
  border: 4px solid #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
.youtubeVideo {
  width: 640px;
  height: 360px;
  border-radius: 16px;
}

#videoIntro .react-player__preview {
  border-radius: 16px;
}

@media only screen and (max-width: 991px) {
  #videoIntro {
    height: 202px;
    width: 352px
  }

  #videoDiv {
    padding-top: 50px !important;
  }

  .youtubeVideo {
    height: 194px;
    width: 342px
  }
}

@media only screen and (max-width: 300px) {
  #videoIntro {
    width: 100%;
    height: auto;
    box-shadow: none;
    border: none;
  }

  #videoDiv {
    padding-top: 50px !important;
  }

  .youtubeVideo {
    height: auto;
    width: 100%
  }
}

#videoDiv {
  text-align: center;
  padding-top: 100px;
}


